@use "./global" as *;

#admin_dashboard{
    height: 100%;
    display: flex;
    padding: 1rem;
    overflow: hidden;
    padding-top: 1rem;
    flex-direction: column;

    aside{
        ul{
            gap: 1rem;
            display: flex;
            list-style: none;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid #ddd;

            li{
                font-weight: 600;
                font-size: 1.2rem;
                
                a{
                    text-decoration: none;
                    cursor: pointer;
                    color: #000;

                    &:hover{
                        color: $primary-theme;
                    }

                }
                &.active a { 
                color: $primary-theme; 
                font-weight: 600;
                }
            }
        }
    }
    main{
        width: 100%;
        overflow-y: auto;
        padding-top: 2rem;
        scrollbar-width: none;
    }
}

@media (min-width: 900px) {
    
    #admin_dashboard{
        display: flex;
        margin: auto;
        padding-top: 2rem;
        max-width: 1366px;
        flex-direction: row;

        aside{
            width: 15%;
            height: 100%;

            ul{
                border: none;
                display: block;
                list-style: none;

                li{
                    padding: 10px;
                    margin-bottom: 1.5rem;
                }
            }
        }
        main{
            width: 100%;
            padding-top: 0rem;
        }
    }
}