@use "./global" as *;
@use "./navbar";
@use "./payment";
@use "./course_page";


#main {
    margin: auto;

    .banner {
        width: 100%;
        display: flex;
        aspect-ratio: 16/9;
        padding-block: 5rem;
        align-items: center;
        flex-direction: column;
        background-size: cover;
        justify-content: center;
        background-image: url(/images/cover.jpg);
        background-color: #00000090;
        background-blend-mode: overlay;
        max-height: 500px;



        article {
            gap: 1rem;
            display: flex;
            align-items: center;
            padding: min(5rem, 5%);
            flex-direction: column;
            justify-content: center;

            h1 {
                color: #fff;
                max-width: 500px;
                text-align: center;
                font-size: clamp(2em, 5vw, 2.5em);
            }
            
            p {
                color: #fff;
                font-size: 1em;
                max-width: 500px;
                text-align: center;
            }

            h3 {
               color: #fff;
               max-width: 500px;
               font-weight: 500;
               text-align: center;
            }

            .input-area {
                gap: 1rem;
                display: grid;

                @media (min-width: 600px) {
                    gap: .5rem;
                    display: flex;
                    align-items: center;
                }

                input {
                    border: none;
                    width: 400px;
                    outline: none;
                    font-size: 1em;
                    padding: 1rem 1.5rem;
                    border-radius: 50rem;
                }

                button {
                    color: #fff;
                    border: none;
                    font-size: 1em;
                    cursor: pointer;
                    padding: 1rem 1.5em;
                    border-radius: 50rem;
                    background: salmon;
                }
            }
        }
    }


    .content-container {
        margin: auto;
        max-width: 1280px;
        padding-inline: min(5rem, 8%);

        .content-header {
            padding: 1rem 0;
            margin-top: 3rem;
        }
        .content {
            gap: 1rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            .course {
                overflow: hidden;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                background: #f2f2f2;

                
                .cover {
                    aspect-ratio: 16/9;
                    background-position: center;
                    background-size: cover;
                    background-color: #ddd;
                    
                }
                
                &:nth-child(1) .cover { background-image: url(/images/courses/data-science.jpg); }
                &:nth-child(2) .cover { background-image: url(/images/courses/web-development.jpg); }
                &:nth-child(3) .cover { background-image: url(/images/courses/digital-marketing.jpg); }
                &:nth-child(4) .cover { background-image: url(/images/courses/graphics-design.jpg); }
                &:nth-child(5) .cover { background-image: url(/images/courses/digital-marketing.jpg); }
                &:nth-child(6) .cover { background-image: url(/images/courses/mobile-development.jpg); }

                .info {
                    gap: .5rem;
                    padding: 1rem;
                    display: grid;
                    height: 100%;

                    h1 {
                        font-size: 1.5em;
                    }
                    
                    .cta {
                        display: flex;
                        padding-top: 1rem;
                        align-items: center;
                        border-top: 1px solid #ddd;
                        justify-content: space-between;

                        h3 {
                            font-size: 1.5em;
                        
                        }
                        
                        button {
                            border: none;
                            font-size: 1em;
                            cursor: pointer;
                            font-weight: 600;
                            border-radius: 50rem;
                            padding: .8rem 1.5rem;
                            background: $primary-theme;
                        }
                    }
                }
            }
        }
    }
}


footer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto 0 auto;
    border-top: 1px solid #ddd;
}




#about {
    margin: auto;
    max-width: 1366px;

    .banner {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FAF0D3;
    }

    .content {
        p {
            padding: 1rem;
            font-size: 1.15em;
        }
    }
}



#form-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .form {
        gap: 1rem;
        width: 100%;
        display: grid;
        max-width: 450px;

        .input-area-group {
            gap: .5rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .input-area {
            gap: .3rem;
            display: grid;

            label {
                font-size: 1.1em;
            }

            input {
                width: 100%;
                padding: 1rem;
                font-size: 1em;
                background: none;
                border-radius: .6rem;
                border: 1px solid #ddd;
            }

        }

        p {
            font-size: 1.1em;

            a {
                color: $primary-theme;
                font-weight: 900;
                text-decoration: none;
            }
        }

        button {
            padding: 1rem;
            font-size: 1em;
            border: none;
            background: $primary-theme;
            border-radius: .6rem;
        }
    }
}
